@{
    ViewBag.Title = "User Panel";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("FileUpload", "UserPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image:</label>
    <input type="file" name="file" id="file" style="width: 100%;" />
    <input type="submit" value="Upload" class="submit" />
}


