<h2>Polityka prywatności</h2>

<p><strong>Co to jest plik „Cookie"?</strong></p>
<p>Ciasteczka (cookies) to małe, pojedyncze pliki tekstowe, które są wysyłane przez odwiedzane strony www a następnie pobierane na komputerze użytkownika. Informacje zawarte w plikach cookies pozwalają na odczytanie ich wyłącznie przez stronę, która je utworzyła. Jednocześnie strona internetowa nie ma dostępu innych plików, które znajdują się na komputerze użytkownika.</p>
<p><strong>W jakim celu MatchApp korzysta z plików cookie?</strong></p>
<p>Pliki (cookies) używane na MatchApp pozwalają na odpowiednie dostosowanie wyświetlanych na stronie informacji i personalizowanie prezentowanych treści, również pozwalają mierzyć interakcje użytkowników na stronach www. Celem stosowania ciasteczek jest dopasowanie i poprawienie sposobu działania MatchApp, jak również mierzenie efektów akcji przeprowadzanych na witrynie. Cookies umożliwiają określanie upodobań użytkowników, co pozwala na stałe podnoszenie jakości naszych usług. Ciasteczka nie są wykorzystywane przez nas do kontaktu za pomocą telefonu, maila czy poczty.</p>
<p>Przykłady wykorzystania plików cookies na MatchApp:</p>
<ul class="classic dots">
    <li>dopasowanie reklam emitowanych na stronie www</li>
    <li>wykorzystanie mechanizmu badającego preferencje użytkownika</li>
    <li>mierzenie ruchu użytkownika na stronach przy pomocy kodu Google Analytics  - więcej informacji na stronie: <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a></li>
    <li>mierzenie skuteczności prowadzonych akcji na rzecz ubezpieczyciela, np. w Google, sieciach afiliacyjnych, programach partnerskich</li>
    <li>zapamiętywanie braku zgody na wyświetlanie w przyszłości określonych treści</li>
    <li>dostosowanie treści reklam emitowanych w sieci reklamowej Google - remarketing - więcej informacji na stronie: <a href="http://www.google.com/intl/pl/policies/technologies/ads/" target="_blank">http://www.google.com/intl/pl/policies/technologies/ads/</a> </li>
</ul>
<p><strong>Można ustawić przeglądarkę w taki sposób by móc odrzucać prośby o przechowywanie plików cookies.</strong></p>
<p><strong>Jak wyłączyć obsługę ciasteczek?</strong></p>
<p><strong>- <a href="http://support.mozilla.org/pl/kb/W%C5%82%C4%85czanie i wy%C5%82%C4%85czanie obs%C5%82ugi ciasteczek" target="_blank">przeglądarka Firefox</a><br />
- <a href="http://support.google.com/chrome/bin/answer.py?hl=pl&amp;answer=95647" target="_blank">przeglądarka Google Chrome</a><br />
- <a href="http://windows.microsoft.com/pl-pl/windows7/block-enable-or-allow-cookies" target="_blank">przeglądarka Internet Explorer 9</a></strong>
</p>