<table class="table table-hover">
    <thead>
    <tr>
        <th>Autor</th>
        <th>Wiadomość</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="m in message" ng-click="goToConversation(message.id)">
        <td><a ng-href="/uzytkownicy/{{m.userId}}">{{m.firstName}}</a></td>
        <td>{{m.message}}</td>
    </tr>
    </tbody>
</table>

<form ng-submit="sendMessage()">
    <textarea class="form-control" rows="3" ng-model="text.message"></textarea>
    <button type="submit" class="btn btn-default">Wyślij</button>
</form>