body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    color: #fff;
    text-shadow: 0 0 15px #000000;
    background-image: url('../Content/girl-1031750_1920.jpg');
    background-size: 100%;
    background-position: top center;
    min-height: 500px;
    position: relative;
    border-radius: 0!important;
}

.jumbotron h1 {
    margin-top: 17%;
}

.jumbotron .signIn {
    text-shadow: none;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
}

.jumbotron .signIn .btn {
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
}