@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    SGGW<br />
    Warsaw, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Webmaster &Aacute; Design: Paweł Janac</strong>   <a href="mailto:pawel.janac@sggw.pl?Subject=Kontakt">pawel.janac@sggw.pl</a><br />
    <strong>Support: Jarosław Frydrych</strong>   <a href="mailto:Support@example.com">jfrydrych@costam.com</a><br />
    <strong>Marketing: Dawid Cholewa</strong> <a href="mailto:Marketing@example.com">dcholewa@costam.com</a>
</address>