@{
    ViewBag.Title = "Znajdź swoją drugą połówkę";
}
<h2>@ViewBag.Title.</h2>

<address>
    Tutaj będzie znajdował się mechanizm wyszukiwania.<br />
</address>

<form>
    Wyszukaj: <input type="text" value="" placeholder="wpisz tekst"> <button>Znajdź!</button>
</form>


