@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Matching</h1>
    <p class="lead"> It starts here.
Friends, dates, relationships, and everything in between.(text zapożyczony z tindera, coś wymyśleć jakiś opis :P)</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Matching gives you a powerful, patterns-based way to build dynamic relationships...(Przykładowy link tutorialu)
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=aTALb3PLEF4">How to use our application, tutorial link &raquo;</a></p>
    </div>
</div>