@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Matching - online dating!</h1>
    <p class="lead"> It starts here.
Friends, dates, relationships, and everything in between.(text zapożyczony z tindera, coś wymyśleć jakiś opis :P)</p>
    <div class="row signIn">
        <div class="col-xs-12">
            <div class="text-center">
                <a class="btn btn-success btn-lg" href="~/Account/Login">Sign in!</a>
                or
                <a class="btn btn-success btn-lg" href="~/Account/Register">Create new accout!</a>
            </div>
        </div>
    </div>
</div>

